@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #F0F2F5;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--foreground-rgb)
}


:where(.css-dev-only-do-not-override-zcfrx9).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select, :where(.css-dev-only-do-not-override-zcfrx9).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select, :where(.css-dev-only-do-not-override-zcfrx9).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload-list.ant-upload-list-picture-circle .ant-upload-list-item-container {
    width: 40px !important;
    height: 40px !important;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: top;
    padding-top: 1px;
    background-color: rgba(0, 0, 0, 0.02);
    border: 0 !important;
    border-radius: 22px;
    cursor: pointer;
    transition: border-color 0.3s;
}

    /*
       **
           ** SKELETON OVERRIDE CUSTOM DESIGN
           **
           */

.post-create :where(.css-dev-only-do-not-override-zcfrx9).ant-skeleton.ant-skeleton-element .ant-skeleton-input{
  min-width: 350px !important;
}

.skeleton-group :where(.css-dev-only-do-not-override-zcfrx9).ant-skeleton.ant-skeleton-element .ant-skeleton-input {
  min-width: 120px !important;
}

.post-user :where(.css-dev-only-do-not-override-zcfrx9).ant-skeleton.ant-skeleton-element .ant-skeleton-input {
  min-width: 220px !important;
}
.ant-skeleton-image{
  width: 475px !important;
  height: 180px !important;
}